@charset "UTF-8";
/* -----------------------------------------------------------------------------
    Functions
----------------------------------------------------------------------------- */
/* Is color
----------------------------------------------------------------------------- */
/* Z-index
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
    Mixins
----------------------------------------------------------------------------- */
/* Tint
----------------------------------------------------------------------------- */
/* Shade
----------------------------------------------------------------------------- */
/* Defined Media Queries
// https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
----------------------------------------------------------------------------- */
/* Undefined Media Queries
----------------------------------------------------------------------------- */
/* Font-sizes
----------------------------------------------------------------------------- */
/* Z-index
----------------------------------------------------------------------------- */
/* Clearfix
----------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700|Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
/* -----------------------------------------------------------------------------
  *Thursday 06 Dec 2018 - Time: 08:26*
	Typography
----------------------------------------------------------------------------- */
/* Body
----------------------------------------------------------------------------- */
body {
  margin: 0;
  color: #454545;
  font-family: "Open sans";
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.618rem; }
  body.dark {
    color: #f3f3f3;
    background-color: #454545; }

/* Headers
----------------------------------------------------------------------------- */
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5,
.font-size-uber, .font-size-hero {
  color: #2e2e2e;
  font-family: "Maven pro";
  font-weight: 400;
  margin: 8px 0 0 0; }

.font-size-uber {
  font-size: 83px;
  font-size: 5.1875rem;
  line-height: 134px;
  line-height: 8.39338rem; }

.font-size-hero {
  font-size: 69px;
  font-size: 4.3125rem;
  line-height: 112px;
  line-height: 6.97763rem; }

h1, .h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 78px;
  line-height: 4.854rem; }

h2, .h2 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 65px;
  line-height: 4.045rem; }

h3, .h3 {
  font-size: 33px;
  font-size: 2.0625rem;
  line-height: 53px;
  line-height: 3.33713rem; }

h4, .h4 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 45px;
  line-height: 2.8315rem; }

h5, .h5 {
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 37px;
  line-height: 2.32588rem; }

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5,
.dark .h1, .dark .h2, .dark .h3, .dark .h4, .dark .h5,
.dark .font-size-uber, .dark .font-size-hero {
  color: #d8d8d8; }

/* Types
----------------------------------------------------------------------------- */
.font-size-lead, .font-size-small, .font-size-caption, .font-size-tiny {
  color: #454545;
  font-family: "Open sans";
  margin: 16px 0 0 0; }

.font-size-lead {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 31px;
  line-height: 1.92138rem; }

.font-size-small {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 21px;
  line-height: 1.31463rem; }

.font-size-caption {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 18px;
  line-height: 1.11238rem; }

.font-size-tiny {
  font-size: 9px;
  font-size: 0.5625rem;
  line-height: 15px;
  line-height: 0.91013rem; }

.dark .font-size-lead, .dark .font-size-small, .dark .font-size-caption, .dark .font-size-tiny {
  color: #d8d8d8; }

/* Paragraps
----------------------------------------------------------------------------- */
p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.618rem;
  margin: 16px 0 0 0; }

/* Blockquote
----------------------------------------------------------------------------- */
blockquote {
  border-left: 1px solid #08436a;
  margin: 16px 0 0 0;
  padding: 4px 0 4px 16px; }
  blockquote cite {
    color: #b0b0b0;
    display: block;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 21px;
    line-height: 1.31463rem; }
    blockquote cite:before {
      content: '- '; }

/* Figcaption
----------------------------------------------------------------------------- */
figcaption {
  color: #b0b0b0;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 18px;
  line-height: 1.11238rem;
  padding: 4px; }

/* Small
----------------------------------------------------------------------------- */
small, .small {
  color: #b0b0b0;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 21px;
  line-height: 1.31463rem; }

/* Mark
----------------------------------------------------------------------------- */
mark {
  background-color: #f3f3f3;
  color: #08436a;
  padding: 0 8px; }

/* Horizontal Rules
----------------------------------------------------------------------------- */
hr {
  border: none;
  border-top: 1px solid #d8d8d8;
  height: 1px;
  margin: 16px 0; }

/* Selection
----------------------------------------------------------------------------- */
::-moz-selection {
  background-color: #cedef0;
  color: #0a59b4; }
::selection {
  background-color: #cedef0;
  color: #0a59b4; }

/* -----------------------------------------------------------------------------
	*Wednesday 12 Dec 2018 - Time: 08:19*   
	Layout
----------------------------------------------------------------------------- */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-smooth: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/**
 * Remove inner padding and
 * border in Firefox 4+
 */
::-moz-focus-inner {
  border: none;
  padding: 0; }

/**
 * Hide OS controls for Windows
 * http://msdn.microsoft.com/en-us/library/windows/apps/hh465742.aspx
 */
::-ms-expand {
  display: none; }

/**
 * Hide clear button in input fields for Windows
 * https://msdn.microsoft.com/en-us/library/windows/apps/hh465740.aspx
 */
::-ms-clear {
  display: none;
  height: 0;
  width: 0; }

/* -----------------------------------------------------------------------------
	*Wednesday 19 Dec 2018 - Time: 10:59*
	Media
----------------------------------------------------------------------------- */
img {
  vertical-align: middle; }

figure {
  margin: 0; }

/* -----------------------------------------------------------------------------
	*Wednesday 19 Dec 2018 - Time: 07:50*
	Utilities Text
----------------------------------------------------------------------------- */
/* Text Style
----------------------------------------------------------------------------- */
.ns-text-bold {
  font-weight: 700; }

.ns-text-italic {
  font-style: italic; }

.ns-text-underline {
  text-decoration: underline; }

/* Text alignment
----------------------------------------------------------------------------- */
.ns-text-left {
  text-align: left; }

.ns-text-right {
  text-align: right; }

.ns-text-center {
  text-align: center; }

.ns-text-justify {
  text-align: justify; }

/* Text transform
----------------------------------------------------------------------------- */
.ns-text-lowercase {
  text-transform: lowercase; }

.ns-text-uppercase {
  text-transform: uppercase; }

.ns-text-capitalize {
  text-transform: capitalize; }

/* Text color
----------------------------------------------------------------------------- */
.ns-text-primary {
  color: #08436a; }

.ns-text-blue {
  color: #0a59b4; }

.ns-text-green {
  color: #8eb415; }

.ns-text-pink {
  color: #b40a7d; }

.ns-text-succes {
  color: #32b400; }

.ns-text-warning {
  color: #f9b01e; }

.ns-text-danger {
  color: #da291c; }

.ns-text-light {
  color: #d8d8d8; }

.ns-text-xlight {
  color: #f3f3f3; }

/* Overflow
----------------------------------------------------------------------------- */
.ns-text-truncate {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* Text accessibility
----------------------------------------------------------------------------- */
.ns-text-readable {
  max-width: 45rem; }

/* -----------------------------------------------------------------------------
	*Wednesday 19 Dec 2018 - Time: 09:36*
	Spacing
----------------------------------------------------------------------------- */
/* Margin
----------------------------------------------------------------------------- */
.ns-margin-xs {
  margin: 4px; }

.ns-margin-sm {
  margin: 8px; }

.ns-margin-md {
  margin: 16px; }

.ns-margin-lg {
  margin: 32px; }

.ns-margin-xl {
  margin: 64px; }

.ns-margin-xxl {
  margin: 96px; }

/* Margin-top
----------------------------------------------------------------------------- */
.ns-margin-top-xs {
  margin-top: 4px; }

.ns-margin-top-sm {
  margin-top: 8px; }

.ns-margin-top-md {
  margin-top: 16px; }

.ns-margin-top-lg {
  margin-top: 32px; }

.ns-margin-top-xl {
  margin-top: 64px; }

.ns-margin-top-xxl {
  margin-top: 96px; }

/* Margin-right
----------------------------------------------------------------------------- */
.ns-margin-right-xs {
  margin-right: 4px; }

.ns-margin-right-sm {
  margin-right: 8px; }

.ns-margin-right-md {
  margin-right: 16px; }

.ns-margin-right-lg {
  margin-right: 32px; }

.ns-margin-right-xl {
  margin-right: 64px; }

.ns-margin-right-xxl {
  margin-right: 96px; }

/* Margin-bottom
----------------------------------------------------------------------------- */
.ns-margin-bottom-xs {
  margin-bottom: 4px; }

.ns-margin-bottom-sm {
  margin-bottom: 8px; }

.ns-margin-bottom-md {
  margin-bottom: 16px; }

.ns-margin-bottom-lg {
  margin-bottom: 32px; }

.ns-margin-bottom-xl {
  margin-bottom: 64px; }

.ns-margin-bottom-xxl {
  margin-bottom: 96px; }

/* Margin-left
----------------------------------------------------------------------------- */
.ns-margin-left-xs {
  margin-left: 4px; }

.ns-margin-left-sm {
  margin-left: 8px; }

.ns-margin-left-md {
  margin-left: 16px; }

.ns-margin-left-lg {
  margin-left: 32px; }

.ns-margin-left-xl {
  margin-left: 64px; }

.ns-margin-left-xxl {
  margin-left: 96px; }

/* -----------------------------------------------------------------------------
	*Wednesday 19 Dec 2018 - Time: 09:57*
	Layout
----------------------------------------------------------------------------- */
.ns-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
  width: 100%; }

.ns-viewport-vertical {
  height: 100vh;
  overflow: hidden;
  position: relative; }

.ns-horizontal-scroll {
  overflow-x: auto;
  overflow-y: hidden; }

.ns-vertical-scroll {
  overflow-x: hidden;
  overflow-y: auto; }

.ns-no-scroll {
  overflow: hidden; }

.ns-clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ns-screen-reader-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px; }

/* -----------------------------------------------------------------------------
	*Wednesday 19 Dec 2018 - Time: 10:21*
	Background
----------------------------------------------------------------------------- */
.ns-bg-light {
  background-color: #d8d8d8; }

.ns-bg-lighter {
  background-color: #f3f3f3; }

.ns-bg-primary {
  background-color: #08436a; }

.ns-bg-success {
  background-color: #32b400; }

.ns-bg-warning {
  background-color: #f9b01e; }

.ns-bg-danger {
  background-color: #da291c; }

.ns-bg-white {
  background-color: white; }

.ns-bg-black {
  background-color: black; }

/* -----------------------------------------------------------------------------
  *Tuesday 18 Dec 2018 - Time: 14:38*
	Badge
----------------------------------------------------------------------------- */
.ns-badge {
  display: inline-block;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 18px;
  line-height: 1.11238rem;
  font-weight: 700;
  min-height: 8px;
  padding: 2px 8px;
  background-color: #d8d8d8;
  color: black;
  border-radius: 8px; }

/* Badge colors
----------------------------------------------------------------------------- */
.ns-badge.ns-badge--primary {
  color: white;
  background-color: #08436a; }

.ns-badge.ns-badge--secondary {
  color: white;
  background-color: #08436a; }

.ns-badge.ns-badge--success {
  color: white;
  background-color: #32b400; }

.ns-badge.ns-badge--info {
  color: white;
  background-color: #0064b4; }

.ns-badge.ns-badge--warning {
  color: white;
  background-color: #f9b01e; }

.ns-badge.ns-badge--danger {
  color: white;
  background-color: #da291c; }

.ns-badge.ns-badge--black {
  color: white;
  background-color: black; }

.ns-badge.ns-badge--white {
  color: #454545;
  background-color: white; }

.ns-badge.ns-badge--lgrey {
  color: #d8d8d8;
  background-color: #f3f3f3; }

/* -----------------------------------------------------------------------------
	*Sunday 23 Dec 2018 - Time: 13:47*
	List
----------------------------------------------------------------------------- */
/* List
----------------------------------------------------------------------------- */
ul, ol, dl {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.618rem; }

/* Standard list
----------------------------------------------------------------------------- */
.list, .ns-list, .ns-ordered-list {
  padding-left: 32px;
  margin: 16px 0 0 0; }

.ns-list > li {
  padding: 4px;
  list-style: none; }
  .ns-list > li::before {
    content: '\f324';
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    font-size: 11px;
    color: #08436a;
    display: inline-block;
    margin-left: -20px;
    width: 16px; }

.ns-list > li:last-of-type {
  margin-bottom: 8px; }

.ns-ordered-list {
  list-style-type: none;
  counter-reset: li; }
  .ns-ordered-list > li {
    padding: 4px;
    counter-increment: li; }
    .ns-ordered-list > li::before {
      content: counter(li) ".";
      color: #08436a;
      display: inline-block;
      margin-left: -20px;
      width: 16px; }

.ns-button,
.ns-button__negative,
.ns-button__outline,
.ns-button__transparent {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.618rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 14px 24px;
  min-height: 48px;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: color, background;
  -o-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }
  @media screen and (max-width: 599px) {
    .ns-button,
    .ns-button__negative,
    .ns-button__outline,
    .ns-button__transparent {
      display: inline-block;
      vertical-align: middle;
      width: auto; } }

.ns-button {
  background-color: #0a59b4;
  color: white; }
  .ns-button:hover, .ns-button:active, .ns-button:focus {
    color: white;
    text-decoration: none;
    background-color: #084489; }
  .ns-button:focus {
    -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05); }
  .ns-button[disabled] {
    background-color: #d8d8d8;
    color: white;
    cursor: not-allowed; }
  .ns-button.ns-button--blue {
    background-color: #0a59b4;
    color: white; }
    .ns-button.ns-button--blue:hover, .ns-button.ns-button--blue:active, .ns-button.ns-button--blue:focus {
      color: white;
      text-decoration: none;
      background-color: #084489; }
    .ns-button.ns-button--blue:focus {
      -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
      box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05); }
    .ns-button.ns-button--blue[disabled] {
      background-color: #d8d8d8;
      color: white;
      cursor: not-allowed; }
  .ns-button.ns-button--green {
    background-color: #8eb415;
    color: white; }
    .ns-button.ns-button--green:hover, .ns-button.ns-button--green:active, .ns-button.ns-button--green:focus {
      color: white;
      text-decoration: none;
      background-color: #6c8910; }
    .ns-button.ns-button--green:focus {
      -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
      box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05); }
    .ns-button.ns-button--green[disabled] {
      background-color: #d8d8d8;
      color: white;
      cursor: not-allowed; }
  .ns-button.ns-button--pink {
    background-color: #b40a7d;
    color: white; }
    .ns-button.ns-button--pink:hover, .ns-button.ns-button--pink:active, .ns-button.ns-button--pink:focus {
      color: white;
      text-decoration: none;
      background-color: #89085f; }
    .ns-button.ns-button--pink:focus {
      -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
      box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05); }
    .ns-button.ns-button--pink[disabled] {
      background-color: #d8d8d8;
      color: white;
      cursor: not-allowed; }
  .ns-button.ns-button--success {
    background-color: #32b400;
    color: white; }
    .ns-button.ns-button--success:hover, .ns-button.ns-button--success:active, .ns-button.ns-button--success:focus {
      color: white;
      text-decoration: none;
      background-color: #268900; }
    .ns-button.ns-button--success:focus {
      -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
      box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05); }
    .ns-button.ns-button--success[disabled] {
      background-color: #d8d8d8;
      color: white;
      cursor: not-allowed; }
  .ns-button.ns-button--warning {
    background-color: #f9b01e;
    color: white; }
    .ns-button.ns-button--warning:hover, .ns-button.ns-button--warning:active, .ns-button.ns-button--warning:focus {
      color: white;
      text-decoration: none;
      background-color: #bd8617; }
    .ns-button.ns-button--warning:focus {
      -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
      box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05); }
    .ns-button.ns-button--warning[disabled] {
      background-color: #d8d8d8;
      color: white;
      cursor: not-allowed; }
  .ns-button.ns-button--danger {
    background-color: #da291c;
    color: white; }
    .ns-button.ns-button--danger:hover, .ns-button.ns-button--danger:active, .ns-button.ns-button--danger:focus {
      color: white;
      text-decoration: none;
      background-color: #a61f15; }
    .ns-button.ns-button--danger:focus {
      -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
      box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05); }
    .ns-button.ns-button--danger[disabled] {
      background-color: #d8d8d8;
      color: white;
      cursor: not-allowed; }
  .ns-button.ns-button--info {
    background-color: #0064b4;
    color: white; }
    .ns-button.ns-button--info:hover, .ns-button.ns-button--info:active, .ns-button.ns-button--info:focus {
      color: white;
      text-decoration: none;
      background-color: #004c89; }
    .ns-button.ns-button--info:focus {
      -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
      box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05); }
    .ns-button.ns-button--info[disabled] {
      background-color: #d8d8d8;
      color: white;
      cursor: not-allowed; }

a {
  text-decoration: none;
  padding: 0 0 4px 0;
  border-bottom: 1px dotted rgba(10, 89, 180, 0.16);
  -webkit-transition: color 300ms ease, border-color 300ms ease;
  -o-transition: color 300ms ease, border-color 300ms ease;
  transition: color 300ms ease, border-color 300ms ease; }

a {
  color: rgba(10, 89, 180, 0.72); }
  a:hover, a:active, a:focus {
    color: #0a59b4;
    border-color: rgba(10, 89, 180, 0.64); }
  a:focus {
    outline: none; }
  a.ns-link--green {
    color: rgba(142, 180, 21, 0.72); }
    a.ns-link--green:hover, a.ns-link--green:active, a.ns-link--green:focus {
      color: #8eb415;
      border-color: rgba(142, 180, 21, 0.64); }
    a.ns-link--green:focus {
      outline: none; }
  a.ns-link--pink {
    color: rgba(180, 10, 125, 0.72); }
    a.ns-link--pink:hover, a.ns-link--pink:active, a.ns-link--pink:focus {
      color: #b40a7d;
      border-color: rgba(180, 10, 125, 0.64); }
    a.ns-link--pink:focus {
      outline: none; }
  a.ns-link--success {
    color: rgba(50, 180, 0, 0.72); }
    a.ns-link--success:hover, a.ns-link--success:active, a.ns-link--success:focus {
      color: #32b400;
      border-color: rgba(50, 180, 0, 0.64); }
    a.ns-link--success:focus {
      outline: none; }
  a.ns-link--warning {
    color: rgba(249, 176, 30, 0.72); }
    a.ns-link--warning:hover, a.ns-link--warning:active, a.ns-link--warning:focus {
      color: #f9b01e;
      border-color: rgba(249, 176, 30, 0.64); }
    a.ns-link--warning:focus {
      outline: none; }
  a.ns-link--danger {
    color: rgba(218, 41, 28, 0.72); }
    a.ns-link--danger:hover, a.ns-link--danger:active, a.ns-link--danger:focus {
      color: #da291c;
      border-color: rgba(218, 41, 28, 0.64); }
    a.ns-link--danger:focus {
      outline: none; }
  a.ns-link--info {
    color: rgba(0, 100, 180, 0.72); }
    a.ns-link--info:hover, a.ns-link--info:active, a.ns-link--info:focus {
      color: #0064b4;
      border-color: rgba(0, 100, 180, 0.64); }
    a.ns-link--info:focus {
      outline: none; }

.dark a {
  color: rgba(216, 216, 216, 0.72);
  border-bottom: 1px dotted rgba(216, 216, 216, 0.4); }
  .dark a:hover, .dark a:active, .dark a:focus {
    color: white;
    border-color: #d8d8d8; }

.ns-divider {
  position: relative;
  overflow: hidden;
  margin: 32px auto;
  width: 92px;
  border-top: 3px solid #454545; }

.ns-divider.ns-divider--blue {
  border-color: #0a59b4; }

.ns-divider.ns-divider--green {
  border-color: #8eb415; }

.ns-divider.ns-divider--pink {
  border-color: #b40a7d; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  background-color: #f3f3f3; }

.l-wrap {
  display: -ms-grid;
  display: grid;
  grid-gap: 0; }
  @media screen and (max-width: 599px) {
    .l-wrap {
      -ms-grid-columns: auto;
      grid-template-columns: auto;
      -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto; } }
  @media screen and (min-width: 600px) {
    .l-wrap {
      -ms-grid-columns: auto;
      grid-template-columns: auto;
      -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto; } }
  @media screen and (min-width: 1200px) {
    .l-wrap {
      -ms-grid-columns: 255px auto;
      grid-template-columns: 255px auto;
      -ms-grid-rows: auto;
      grid-template-rows: auto; } }
  @media screen and (min-width: 1800px) {
    .l-wrap {
      -ms-grid-columns: 255px auto;
      grid-template-columns: 255px auto;
      -ms-grid-rows: auto;
      grid-template-rows: auto; } }

main {
  display: -ms-grid;
  display: grid;
  grid-gap: 0; }
  @media screen and (max-width: 599px) {
    main {
      -ms-grid-columns: auto;
      grid-template-columns: auto;
      -ms-grid-rows: 0 120px auto;
      grid-template-rows: 0 120px auto; } }
  @media screen and (min-width: 600px) {
    main {
      -ms-grid-columns: auto;
      grid-template-columns: auto;
      -ms-grid-rows: 0 120px auto;
      grid-template-rows: 0 120px auto; } }
  @media screen and (min-width: 1200px) {
    main {
      -ms-grid-columns: auto;
      grid-template-columns: auto;
      -ms-grid-rows: 60px 60px auto;
      grid-template-rows: 60px 60px auto; } }

aside {
  display: -ms-grid;
  display: grid;
  grid-gap: 0;
  background-color: #e6e6e6;
  border-right: 1px solid #dadada;
  z-index: 50; }
  @media screen and (max-width: 599px) {
    aside {
      -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
      -ms-grid-rows: 50px;
      grid-template-rows: 50px; } }
  @media screen and (min-width: 600px) {
    aside {
      -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
      -ms-grid-rows: 50px;
      grid-template-rows: 50px; } }
  @media screen and (min-width: 1200px) {
    aside {
      -ms-grid-columns: auto;
      grid-template-columns: auto;
      -ms-grid-rows: 120px auto;
      grid-template-rows: 120px auto; } }
  @media screen and (min-width: 1800px) {
    aside {
      -ms-grid-columns: auto;
      grid-template-columns: auto;
      -ms-grid-rows: 120px auto;
      grid-template-rows: 120px auto; } }

header {
  display: -ms-grid;
  display: grid;
  grid-gap: 0;
  background-color: white;
  border-bottom: 1px solid #f3f3f3;
  z-index: 40; }
  @media screen and (max-width: 599px) {
    header {
      -ms-grid-columns: auto 50%;
      grid-template-columns: auto 50%;
      -ms-grid-rows: auto;
      grid-template-rows: auto; } }
  @media screen and (min-width: 600px) {
    header {
      -ms-grid-columns: auto 50%;
      grid-template-columns: auto 50%;
      -ms-grid-rows: auto;
      grid-template-rows: auto; } }
  @media screen and (min-width: 1200px) {
    header {
      -ms-grid-columns: auto 15%;
      grid-template-columns: auto 15%;
      -ms-grid-rows: auto;
      grid-template-rows: auto; } }

.s-account {
  visibility: visible; }
  @media screen and (min-width: 600px) {
    .s-account {
      visibility: hidden; } }
  @media screen and (max-width: 599px) {
    .s-account {
      visibility: hidden; } }
  @media screen and (min-width: 1200px) {
    .s-account {
      visibility: visible; } }

@media screen and (min-width: 600px) {
  .s-links {
    visibility: hidden; } }

@media screen and (max-width: 599px) {
  .s-links {
    visibility: hidden; } }

@media screen and (min-width: 1200px) {
  .s-links {
    visibility: visible; } }

@media screen and (max-width: 599px) {
  .s-logo {
    padding: 8px 0 0 0;
    -ms-grid-column-align: start;
    justify-self: start; } }

@media screen and (min-width: 600px) {
  .s-logo {
    padding: 8px 0 0 0;
    -ms-grid-column-align: start;
    justify-self: start; } }

@media screen and (min-width: 1200px) {
  .s-logo {
    padding: 32px 0 0 0;
    -ms-grid-column-align: center;
    justify-self: center; } }

@media screen and (min-width: 1800px) {
  .s-logo {
    padding: 32px 0 0 0;
    -ms-grid-column-align: center;
    justify-self: center; } }

@media screen and (max-width: 599px) {
  .normalized-systems {
    padding-left: 16px;
    max-height: 30px; } }

@media screen and (min-width: 600px) {
  .normalized-systems {
    padding-left: 16px;
    max-height: 30px; } }

@media screen and (min-width: 1200px) {
  .normalized-systems {
    padding-left: 4px;
    max-height: 55px; } }

@media screen and (min-width: 1800px) {
  .normalized-systems {
    padding-left: 4px;
    max-height: 55px; } }

@media screen and (max-width: 599px) {
  .expander-exchange {
    padding-left: 16px;
    max-height: 30px; } }

@media screen and (min-width: 600px) {
  .expander-exchange {
    padding-left: 16px;
    max-height: 30px; } }

@media screen and (min-width: 1200px) {
  .expander-exchange {
    padding-left: 4px;
    max-height: 75px; } }

@media screen and (min-width: 1800px) {
  .expander-exchange {
    padding-left: 4px;
    max-height: 75px; } }

.s-navigation {
  display: -ms-grid;
  display: grid;
  grid-gap: 0;
  padding: 8px 0 0 0; }

nav {
  padding: 16px 16px 16px 16px; }

.c-nav {
  list-style: none;
  margin: 0;
  padding: 16px 0 0 0; }

.c-nav__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px; }
  .c-nav__section .section__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 21px;
    line-height: 1.31463rem;
    letter-spacing: 0.5px;
    margin: 16px 0 0 0;
    height: 40px; }

.c-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  float: none;
  padding: 0;
  margin: 0; }

.c-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 4px 16px;
  min-height: 44px;
  text-decoration: none;
  border-bottom: 0;
  cursor: pointer; }
  .c-nav__link .link__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32px;
    flex: 0 0 32px; }
  .c-nav__link .link__text {
    text-transform: capitalize; }
  .c-nav__link .link__arrow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right; }

.c-nav__subnav {
  margin-bottom: 16px; }

.c-subnav {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6; }

.c-subnav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  float: none;
  margin: 0;
  padding: 0; }

.c-subnav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 4px 16px;
  min-height: 40px;
  text-decoration: none;
  border-bottom: 0;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  background-color: #e6e6e6; }
  .c-subnav__link .link__icon {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32px;
    flex: 0 0 32px;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 21px;
    line-height: 1.31463rem; }
  .c-subnav__link .link__text {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 21px;
    line-height: 1.31463rem;
    text-transform: capitalize;
    font-weight: 700;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .c-subnav__link:hover {
    background-color: #dadada; }

.s-toolbar {
  display: -ms-grid;
  display: grid;
  grid-gap: 0;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(119, 119, 119, 0.05);
  box-shadow: 0px 10px 30px 0px rgba(119, 119, 119, 0.05);
  z-index: 30; }
  @media screen and (max-width: 599px) {
    .s-toolbar {
      -ms-grid-columns: auto;
      grid-template-columns: auto;
      -ms-grid-rows: (60px)[2];
      grid-template-rows: repeat(2, 60px); } }
  @media screen and (min-width: 600px) {
    .s-toolbar {
      -ms-grid-columns: auto;
      grid-template-columns: auto;
      -ms-grid-rows: (60px)[2];
      grid-template-rows: repeat(2, 60px); } }
  @media screen and (min-width: 1200px) {
    .s-toolbar {
      -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
      -ms-grid-rows: auto;
      grid-template-rows: auto; } }

.s-content {
  display: -ms-grid;
  display: grid;
  width: 100%;
  padding: 16px 16px 16px 16px; }

.l-container {
  -ms-grid-column-align: center;
  justify-self: center;
  margin: 32px 0 0 0; }
  @media screen and (max-width: 599px) {
    .l-container {
      max-width: 599px; } }
  @media screen and (min-width: 600px) {
    .l-container {
      max-width: 900px; } }
  @media screen and (min-width: 1200px) {
    .l-container {
      max-width: 1200px; } }
  @media screen and (min-width: 1800px) {
    .l-container {
      max-width: 1200px; } }

.c-grid-exchange {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  margin: 64px 0 0 0; }
  @media screen and (max-width: 599px) {
    .c-grid-exchange {
      -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
      -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr); } }
  @media screen and (min-width: 600px) {
    .c-grid-exchange {
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr); } }
  @media screen and (min-width: 1200px) {
    .c-grid-exchange {
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr); } }

.c-grid__block {
  display: -ms-grid;
  display: grid;
  grid-gap: 0;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: (auto)[5];
  grid-template-rows: repeat(5, auto);
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05); }
  .c-grid__block .item__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 150px;
    border-radius: 8px;
    background-color: #f3f3f3; }
    .c-grid__block .item__image img {
      max-height: 128px; }
  .c-grid__block .item__title {
    margin: 16px 0 0 0;
    text-align: center; }
  .c-grid__block .item__description {
    margin: 16px 0 0 0;
    text-align: center; }
  .c-grid__block .item__button {
    margin: 32px 0 0 0;
    text-align: center; }
  .c-grid__block .item__links {
    margin: 16px 0 0 0;
    padding-bottom: 16px;
    text-align: center; }

.c-nav__subnav {
display: none;

}