// * -----------------------------------------------------------------------------
// 5 Sep 2019 at 10:30:02
// Main
// ----------------------------------------------------------------------------- */

main {
  display: grid;
  grid-gap: 0;

  @include for-phone-only {
    grid-template-columns: auto;
    grid-template-rows   : 0 120px auto;
  }

  @include for-tablet-portrait-up {
    grid-template-columns: auto;
    grid-template-rows   : 0 120px auto;
  }

  @include for-desktop-up {
    grid-template-columns: auto;
    grid-template-rows   : 60px 60px auto;
  }
}
