// * -----------------------------------------------------------------------------
// 5 Sep 2019 at 10:30:56
// Aside
// ----------------------------------------------------------------------------- */

aside {
  display              : grid;
  grid-gap             : 0;

  @include for-tablet-portrait-up {
    grid-template-columns: 200px auto;
    grid-template-rows   : 50px;
  }

  @include for-desktop-up {
    grid-template-columns: auto;
    grid-template-rows   : 120px auto;
  }

  @include for-big-desktop-up {
    grid-template-columns: auto;
    grid-template-rows   : 120px auto;
  }

  // * ===========================================

  background-color     : $primary-darker;
  @include layer(aside);
}
