// * -----------------------------------------------------------------------------
// 5 Sep 2019 at 10:33:53
// Global
// ----------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

body,
html {
  margin : 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
}

.l-wrap {
  display : grid;
  grid-gap: 0;

  @include for-phone-only {
    grid-template-columns: auto;
    grid-template-rows   : 50px auto;
  }

  @include for-tablet-portrait-up {
    grid-template-columns: auto;
    grid-template-rows   : 50px auto;
  }

  @include for-desktop-up {
    grid-template-columns: 255px auto;
    grid-template-rows   : auto;
  }

  @include for-big-desktop-up {
    grid-template-columns: 255px auto;
    grid-template-rows   : auto;
  }
}
