// * -----------------------------------------------------------------------------
// 11 Oct 2019 at 10:48:06
// Divider
// ----------------------------------------------------------------------------- */
%divider {
  position: relative;
  overflow: hidden;

  margin: $spacer-lg auto;

  width: 92px;
  border-top: 3px solid $grey-dark;
}

.ns-divider {
  @extend %divider;
}

// * Colours
// ----------------------------------------------------------------------------- */
.ns-divider {

  &.ns-divider--blue {
    border-color: $ns-blue;
  }

  &.ns-divider--green {
    border-color: $ns-green;
  }

  &.ns-divider--pink {
    border-color: $ns-pink;
  }
}
