/* -----------------------------------------------------------------------------
  *Tuesday 18 Dec 2018 - Time: 14:38*
	Badge
----------------------------------------------------------------------------- */
%badge {
	display: inline-block;

	font-size: $badge-font-size;
	line-height: $badge-line-height;
	font-weight: $bold;
	text-transform: uppercase;

	max-height: $badge-height;
	padding: $spacer-xs;

	background-color: $grey-light;
	color: $text-color;

	border-radius: $default-radius / 2;
}

/* Badge colors
----------------------------------------------------------------------------- */
.ns-badge {
	@extend %badge;

	&.ns-badge--primary {
		color: $white;
		background-color: $primary;
	}

	&.ns-badge--secondary {
		color: $white;
		background-color: $secondary;
	}

	&.ns-badge--blue {
		color: $white;
		background-color: $ns-blue;
	}

	&.ns-badge--green {
		color: $white;
		background-color: $ns-green;
	}

	&.ns-badge--pink {
		color: $white;
		background-color: $ns-pink;
	}

	&.ns-badge--success {
		color: $white;
		background-color: $state-success;
	}

	&.ns-badge--info {
		color: $white;
		background-color: $state-info;
	}

	&.ns-badge--warning {
		color: $white;
		background-color: $state-warning;
	}

	&.ns-badge--danger {
		color: $white;
		background-color: $state-danger;
	}

	&.ns-badge--black {
		color: $white;
		background-color: $black;
	}

	&.ns-badge--white {
		color: $grey-dark;
		background-color: $white;
	}

	&.ns-badge--lgrey {
		color: $grey-light;
		background-color: $grey-lighter;
	}
}
