// * -----------------------------------------------------------------------------
// 5 Sep 2019 at 10:00:22
// Logo
// ----------------------------------------------------------------------------- */

.s-logo {
  padding: $spacer-stack-lg;
  justify-self: center;

  & img {
    max-width: 200px;
  }
}
