// * -----------------------------------------------------------------------------
// 9 Sep 2019 at 11:06:44
// Navigation
// ----------------------------------------------------------------------------- */
.s-navigation {
  display: grid;
  grid-gap: 0;

  padding: $spacer-stack-sm;
}

nav {
  padding: $spacer-inset-md;
}

// * Nav
// ----------------------------------------------------------------------------- */
.c-nav {
  list-style: none;
  margin: 0;
  padding: $spacer-stack-md;
}

.c-nav__section {
  display: flex;
  padding: 0 $spacer-md;

  & .section__title {
    text-transform: uppercase;
    font-weight: $normal;
    @include font-size($font-size-small);
    letter-spacing: 0.5px;

    margin: $spacer-stack-xs;
    height: 40px;
  }
}

.c-nav__item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  float: none;

  padding: 0;
  margin: 0;
}

.c-nav__link {
  display: flex;
  flex-grow: 1;
  align-items: stretch;

  padding: $spacer-xs $spacer-md;
  min-height: 44px;

  text-decoration: none;
  border-bottom: 0;
  cursor: pointer;

  & .link__icon {
    flex: 0 0 $spacer-lg;
  }

  & .link__text {
    text-transform: capitalize;
  }

  & .link__arrow {
    flex-grow: 1;
    text-align: right;
  }
}

// * Subnav
// ----------------------------------------------------------------------------- */
.c-nav__subnav {
  max-height: 0;
  display: block;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  &.active {
    background-color: $grey-30;
    height: auto;
    transition: all 300ms ease;
  }
}

.c-subnav {
  list-style: none;

  margin: 0;
  padding: 0;
}

.c-subnav__item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  float: none;

  margin: 0;
  padding: 0;
}

.c-subnav__link {
  display: flex;
  flex-grow: 1;
  align-items: stretch;

  padding: $spacer-xs $spacer-md;
  min-height: 40px;

  text-decoration: none;
  border-bottom: 0;
  border-radius: $default-radius;
  cursor: pointer;

  transition: background-color 0.25s ease;

  & .link__icon {
    align-self: center;
    flex: 0 0 $spacer-lg;

    @include font-size($font-size-small);
  }

  & .link__text {
    @include font-size($font-size-small);
    text-transform: capitalize;
    font-weight: $bold;

    align-self: center;
  }

  & .link__badge {
    display: flex;
    flex-grow: 1;

    justify-content: flex-end;

    align-self: center;
  }

  &:hover {
    background-color: $grey-40;
  }
}
