// * -----------------------------------------------------------------------------
// 5 Sep 2019 at 10:00:22
// Logo
// ----------------------------------------------------------------------------- */

.s-logo {

  @include for-phone-only {
    padding     : $spacer-stack-sm;
    justify-self: start;
  }

  @include for-tablet-portrait-up {
    padding     : $spacer-stack-sm;
    justify-self: start;
  }

  @include for-desktop-up {
    padding     : $spacer-stack-lg;
    justify-self: center;
  }

  @include for-big-desktop-up {
    padding     : $spacer-stack-lg;
    justify-self: center;
  }
}

.normalized-systems {

  @include for-phone-only {
    padding-left: $spacer-md;
    max-height  : 30px;
  }

  @include for-tablet-portrait-up {
    padding-left: $spacer-md;
    max-height  : 30px;
  }

  @include for-desktop-up {
    padding-left: $spacer-xs;
    max-height  : 55px;
  }

  @include for-big-desktop-up {
    padding-left: $spacer-xs;
    max-height  : 55px;
  }
}

.expander-exchange {

  @include for-phone-only {
    padding-left: $spacer-md;
    max-height  : 30px;
  }

  @include for-tablet-portrait-up {
    padding-left: $spacer-md;
    max-height  : 30px;
  }

  @include for-desktop-up {
    padding-left: $spacer-xs;
    max-height  : 75px;
  }

  @include for-big-desktop-up {
    padding-left: $spacer-xs;
    max-height  : 75px;
  }
}
